.course-edit__container {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .container__leftbar {
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-width: 250px;
        width: auto;
        flex: 1;
        height: 100vh;
        overflow-x: auto;

        .leftbar__chapters {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .chapters__block {
                border-radius: 15px;
                background-color: rgba(240, 248, 255, 0.9);
                display: flex;
                flex-direction: row;

                align-items: flex-start;
                padding: 10px;
                gap: 10px;
                justify-content: space-between;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(240, 248, 255, 1);
                }

                &.active {
                    background-color: rgba(212, 236, 252, 0.9);
                }

                .block-left {
                    display: flex;
                    gap:15px;
                    flex-direction: column;
                    width: 100%;
                    position: relative; /* Added for absolute positioning */

                    .block__title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        p {
                            font-weight: 600;
                        }
                    }

                    .chapters__modules {
                        width: auto;
                        min-height: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .modules__block {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(255, 255, 255, 0.432);
                            padding: 4px;
                            height: 50px;
                            border-radius: 5px;
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(236, 236, 236);
                            }

                            &.active {
                                background-color: rgba(108, 201, 255, 0.9);
                            }

                            .block__module-drag {
                                margin-left: auto;
                                border: none;
                                background: none;
                                padding: 0;
                                cursor: pointer;
                            }
                            .module__content {
                                display: flex;
                                margin-left: auto; // Ensure space between title and controls
                                align-items: center;
                                width: 100%;  // Ensure it takes full width of parent container
                            
                                .controls {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                            
                                    button,
                                    .ant-btn {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border: none;
                                        background: none;
                                        cursor: pointer;
                                    }
                            
                                    .title__module-drag {
                                        border: none;
                                        background: none;
                                        padding: 0;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }

                .block-menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between; /* This ensures content is spread from top to bottom */
                    height: 100%;
                    align-items: center;
                    gap: 10px;
                
                    .controls {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      gap: 10px;
                
                      button,
                      .ant-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        background: none;
                        cursor: pointer;
                      }
                
                      .title__chapter-drag {
                        border: none;
                        background: none;
                        padding: 0;
                        cursor: pointer;
                      }
                    }
                
                    .block__chapter_menu {
                      margin-top: auto; /* Pushes the button to the bottom */
                      border: none;
                      background: none;
                      padding: 0px;
                      cursor: pointer;
                    }
                  }
            }
        }
    }

    .container__main {
        display: flex;
        flex-direction: column;
        // width: 100%;
        min-width: 80vw;
        height: 100vh;
        background-color: rgba(240, 240, 240, 0.822);
        gap: 10px;
        padding: 10px;
        overflow: auto;
    }
}
