.course-learn__container {
    display: flex;
    flex-direction: row;
    width: auto;

    .container__leftbar {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 15vw;
        flex: 1;
        height: 100vh;
        overflow-y: auto;
        
        .leftbar__chapters {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .chapters__block {
                border-radius: 15px;
                background-color: rgba(240, 248, 255, 0.9);
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 10px;
                gap: 10px;
                justify-content: space-between;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(240, 248, 255, 1);
                }

                &.active {
                    background-color: rgba(212, 236, 252, 0.9);
                }

                &.completed {
                    background-color: rgba(255, 152, 56, 0.342);
                }

                &.active.completed {
                    background-color: rgba(212, 236, 252, 0.9);
                }

                &.active.locked {
                    background-color: rgba(212, 236, 252, 0.9);
                }

                &.locked {
                    opacity: 0.5;

                    .block__title {
                        color: #6b6b6b;
                    }
                }

                .block-left {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    position: relative;

                    .block__title {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        p {
                            font-weight: 600;
                        }
                    }

                    .chapters__modules {
                        width: auto;
                        min-height: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        &.locked {
                            opacity: 0.5;
                            pointer-events: none;
                            cursor: not-allowed;

                            .block__title {
                                color: #6b6b6b;
                            }
                        }

                        .modules__block {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(255, 255, 255, 0.432);
                            padding: 4px;
                            height: 50px;
                            border-radius: 5px;
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(236, 236, 236);
                            }

                            &.active {
                                background-color: rgba(108, 201, 255, 0.9);
                            }

                            &.completed {
                                background-color: rgba(255, 152, 56, 0.9);
                            }

                            .block__module-drag {
                                margin-left: auto;
                                border: none;
                                background: none;
                                padding: 0;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    .container__learn-main {
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: 100vh;
        gap: 5px;
        overflow: auto;
    }
}

// Мобильная версия
@media (max-width: 768px) {
    .course-learn__container {
        flex-direction: row;

        .container__leftbar {
        display: flex;
        flex-direction: column;
        padding: unset;
        width: 10vw;
        // flex: 1;
        height: 100vh;
        overflow-y: auto;

    .leftbar__chapters {
        // flex-direction: row;
        // gap: 5px;

        .chapters__block {
            flex-direction: column;
            align-items: start;
            padding: 5px;

        }

        .block-left {
            align-items: center;

            .block__title {
                display: unset;
                p{
                    display: none;
                }
            }
        }
    }

        }


        .container__learn-main {
            display: flex;
            flex-direction: column;
            width: 90vw;
            height: 100vh;
            gap: 10px;
            padding: 10px;
            overflow: auto;
        }
    }

    .chapters__modules {
        display: none; /* Скрываем модули внутри глав для мобильной версии */
    }

    .modules__block {
        width: 20px;
        text-align: center;
        p{
            display: none;
        }
    }

}
