.add-course-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  &__add-form {
    display: flex;
    flex-direction: column;
    width: 600px; /* Ширина формы */
    gap: 20px; /* Отступ сверху */
  }

  .add-course-container__title{
    font-size: 2rem;
}
}