.learn_dot {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    cursor: pointer;

    &:hover {
        border: #000000 0.1rem solid;
        background-color: rgba(113, 222, 255, 0.13);
    }

    &:active {
        background-color: #8fc5ff;
        /* Новый цвет при нажатии */
    }

    &.active {
        border: rgba(0, 0, 0, 0.9) 1px solid;
        background-color: rgba(73, 213, 255, 0.9);
        /* Другие стили активного компонента */
        text-align: center;
    }

    &.completed {
        border: rgba(255, 87, 9, 0.9) 0.3rem solid;
        background-color: rgb(255, 166, 65); /* Цвет для завершенных этапов */
    }

    &.active.completed {
        border: rgba(148, 148, 148, 0.9) 1px solid;
        background-color: rgba(73, 213, 255, 0.9); /* Цвет для активного завершенного этапа */
        /* Другие стили для активного завершенного этапа */
    }
}
.learn-main__nav-block {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;

    p {
        align-self: center;
        margin: 0; // Убирает внешние отступы
        font-size: 16px; // Размер шрифта
        color: #333; // Цвет текста
        font-weight: 600;
        font-size: 1.5rem;
        // Дополнительные стили по вашему выбору
    }
    .nav-block__popup-menu {
        display: flex;
        justify-content: center; /* Выравниваем элемент по центру горизонтально */
        .popup-menu__button {
            width: fit-content; /* Занимает только ширину своего содержимого */
            border: none; /* Убираем границы кнопки */
            background: none; /* Убираем фон кнопки */
            padding: 0; /* Убираем внутренние отступы кнопки */
            cursor: pointer;
        }
    }
    .nav-block__stages {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .stages__case {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
}

.main-student__content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    min-height: 60%;
    gap: 10px;

    .content__learn-buttons{
        display: flex;
        justify-content: right; 
    }
    .completion-message{
        width: auto;
        height: auto;
        border-radius: 10px;
        padding: 10px;
        background-color: rgba(178, 243, 255, 0.548);
    }
}

