.my-courses-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 20px; // добавим отступы вокруг контейнера
    box-sizing: border-box; // чтобы padding не увеличивал размеры контейнера

    .my-courses-container__title {
        font-size: 2rem;
        margin-bottom: 20px; // добавим отступ снизу
    }

    .my-courses-container__course-item {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
        gap: 20px;
        padding: 20px;
        width: calc(50% - 20px);
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease-in-out; // добавим анимацию для изменения размера

        &:hover {
            transform: scale(1.02); // немного увеличиваем размер при наведении
        }

        .course-item__course-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .course-item__course-actions {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    @media (max-width: 768px) {
        .my-courses-container__course-item {
            width: calc(100% - 20px); // для планшетов и маленьких экранов делаем блоки на всю ширину
        }
    }

    @media (max-width: 480px) {
        padding: 10px; // уменьшаем отступы на маленьких экранах

        .my-courses-container__title {
            font-size: 1.5rem; // уменьшаем размер заголовка
        }

        .my-courses-container__course-item {
            padding: 10px;
        }

        .course-item__course-title {
            font-size: 1.2rem; // уменьшаем размер текста в заголовке
        }
    }
}
