.container__main-container {
    flex-grow: 1;
    height: auto; // вы можете изменить это значение в зависимости от потребностей
    // height: 100px; // оставлено на случай, если нужно будет переключаться между значениями
    padding: 20px; // добавлено для внутреннего отступа

    @media (max-width: 768px) {
        height: auto; // высота будет авто на мобильных устройствах
        padding: 15px; // уменьшение внутреннего отступа на мобильных устройствах
    }

    @media (max-width: 480px) {
        padding: 10px; // еще больше уменьшение внутреннего отступа на очень маленьких экранах
    }
}