.container__dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #dbefffb4;

    .dashboard-body {
        display: flex;
        flex-direction: row;
        flex: 1;
        /* Растягиваем содержимое по высоте */
        overflow: hidden;
        /* Предотвращаем выход за границы экрана */

        .dashboard-body__left-menu {
            display: flex;
            flex-direction: column;
            width: 25%;
            background-color: #f0f0f0;
            /* Цвет фона для левого меню */
            // padding: 20px;
            /* Отступы внутри левого меню */
        }

        .dashboard-body__content {
            display: flex;
            flex-direction: column;
            width: 70%;
            padding: 20px;
            /* Отступы внутри основного контента */
        }
    }
}