.sidebar {
    width: 100%;

    // .ant-menu {
    //     background: #fff;
    //     border-right: none;
    // }

    // .ant-menu-item {
    //     font-size: 1.2rem;

    //     &:hover {
    //         background-color: #f0f0f0 !important;
    //     }
    // }

    // .ant-menu-item a {
    //     color: #333;
    // }
}