.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;

  .container__logo {
    font-size: 1.2rem;
  }

  .container__links {
    // Ваши стили для блока ссылок
    display: flex;
    flex-direction: column;
  }

  .container__social-links {
    display: flex;
    gap: 10px;

    .social-icon {
      font-size: 1.5rem;
      color: #000;
      transition: color 0.3s;

      &:hover {
        color: #007bff;
      }
    }
  }
}

// Медиа-запрос для мобильных устройств
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .container__social-links {
    justify-content: center;
  }
}
