.footer {
    display: flex;
    flex-direction: column;
    background-color: #334658;
    // align-content: flex-end;
    flex-shrink: 0;
    // flex: 1;
    .footer__container {
        display: flex;
        flex-direction: column;
        .container__info-link-row {
            display: flex;
            flex-direction: row;
        }
    }
}
