.course-settings__container{
    display:flex;
    flex-direction: row;
    height: 100vh;
    .container__outlet{
        display:flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}