.course-edit__container {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .container__leftbar {
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-width: 250px;
        flex: 1;
        height: 100vh;
        overflow-x: auto;

        .leftbar__chapters {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .chapters__block {
                border-radius: 15px;
                background-color: rgba(240, 248, 255, 0.9);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .block__title {
                    width: 100%;

                    p {
                        font-weight: 600;
                    }
                }

                .chapters__modules {
                    width: auto;
                    min-height: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .modules__block {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // padding-left: 5px;

                        cursor: pointer;

                        &:hover {
                            background-color: rgb(236, 236, 236);
                            border-radius: 5px;
                        }
                    }
                }
            }

        }
    }

    .container__main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(240, 240, 240, 0.822);
        gap: 10px;
        padding: 10px;
    }
}