.main-container__home-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  p{
      color:#474747;
      font-size: 2rem;
  }
  .home-container__last-added-course {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .card-wrapper {
      flex: 1 0 21%; // Это позволяет показывать 4 карточки в ряд с промежутками
      margin: 10px;
      max-width: 23%;
    }
  }
  
}
