.main-container__home-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  p{
      color:#00c3ff;
      font-size: 2rem;
  }
  .home-container__last-added-course {
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .card-wrapper {
          flex: 1 0 21%; // This allows four cards per row with some spacing
          margin: 10px;
          max-width: 23%; // Ensure that the cards don't exceed 23% of the container width
      }
  }
}