.login-tab__register-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Center align child elements horizontally */
    
    .register-container__log-pass-block {
        min-width: 500px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center; /* Center align child elements horizontally */
    }
    
    .register-containerr__button-confirm {
        display: flex;
        justify-content: center; /* Center align child elements horizontally */
    }
}