.main-container__home-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    p{
        font-size: 2rem;
    }
    .home-container__last-added-course {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 10px;
        // width: 500px;
        // background-color: aquamarine;
    }
}
