.container {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    // width: 100vw;
    height: 100vh;
    gap:10px;
    
    min-height: 100vh;
    flex-flow: column nowrap;
    height: 100%
}

