.main-container__course-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .course-detail__course-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 20px;
        max-width: 1400px;

        .course-info__image_wrap {
            max-width: 400px;
            width: 100%;
        }
        
        .course-info__info_wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1;

            h1 {
                color: #00c3ff;
                font-size: 2rem;
            }

            h3 {
                font-size: 1.5rem;
                color: #555;
            }

            p {
                font-size: 1rem;
                color: #555;
            }
            .info-wrap__enrol-buttons{
                display: flex;
            }
        }
    }

    .course-detail__similar-courses {
        width: 100%;
        max-width: 800px;
        margin-top: 20px;

        hr {
            margin: 20px 0;
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 768px) {
        .course-detail__course-info {
            flex-direction: column;
            align-items: center;

            .course-info__image_wrap {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            .course-info__info_wrap {
                align-items: center;
                text-align: center;

                h1 {
                    font-size: 1.75rem;
                }

                h3 {
                    font-size: 1.25rem;
                }

                p {
                    font-size: 0.875rem;
                }
            }
        }

        .course-detail__similar-courses {
            max-width: 100%;

            hr {
                margin: 10px 0;
            }

            h3 {
                font-size: 1.25rem;
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width: 480px) {
        .course-detail__course-info {
            gap: 10px;

            .course-info__info_wrap {
                h1 {
                    font-size: 1.5rem;
                }

                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.75rem;
                }
            }
        }

        .course-detail__similar-courses {
            hr {
                margin: 5px 0;
            }

            h3 {
                font-size: 1rem;
                margin-bottom: 5px;
            }
        }
    }
}
