.custom-course-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 400px;
  height: 120px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: 120px;
    height: 120px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .custom-course-card__body {
    width: 280px;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .body__title {
      font-size: 0.7em;
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    .body__description {
      font-size: 0.9em;
      color: #555;
      font-weight: bold;
    }
  }

  // Стили для планшетов
  @media (max-width: 768px) {
    width: 350px;
    height: 100px;

    &__image {
      width: 100px;
      height: 100px;
    }

    .custom-course-card__body {
      width: 250px;
      height: 100px;
      padding: 8px;

      .body__title {
        font-size: 0.8em;
      }

      .body__description {
        font-size: 0.85em;
      }
    }
  }

  // Стили для мобильных устройств
  @media (max-width: 480px) {
    flex-direction: row;
    width: 100%;
    height: auto;

    &__image {
      width: 50%;
      height: 120px; // Увеличим высоту изображения, чтобы оно лучше смотрелось на мобильных
    }

    .custom-course-card__body {
      width: 100%;
      height: auto;
      padding: 12px;

      .body__title {
        font-size: 0.7em;
      }

      .body__description {
        font-size: 0.7em;
      }
    }
  }
}
