.file-upload-controls {
    margin-bottom: 20px;

    select {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
}

.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
}

.dropzone.active {
    border-color: #000;
}

.upload-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    img {
        width: 100px;
        margin: 10px;
    }

    p {
        margin: 0;
        font-size: 12px;
    }
}