.custom-select {
    font-size: 1.6rem;
    font-weight: normal;
    // border: 0.1rem solid #d9d9d9; // Тонкая граница
    // border-radius: 5px;
    width: 100%;
    // padding: 8px;
  
    &:hover,
    &:focus {
      border-color: #1890ff;
      outline: none;
    }
  
    > .ant-select-selector {
      border: none;
      background-color: transparent;
  
      &:hover,
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
  
    .ant-select-selection-placeholder {
      color: #999;
    }
  
    .ant-select-arrow {
      color: #1890ff;
    }
  }
 