.change-password__container {
    // border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 500px;
    margin: 0 auto;
}

.change-password__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
